<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @post.direction %>
</p>

<%=image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@post.latitude},#{@post.longitude}&zoom=17&size=600x300&maptype=roadmap%20&markers=color:blue%7Clabel:S%7C#{@post.latitude},#{@post.longitude}&key=AIzaSyBqJ5kM4XJPmOCldlfwKiysQQef734fPh4"%>
<br>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

